@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px; /* 640px */
  --breakpoint-md: 768px; /* 768px */
  --breakpoint-lg: 1024px; /* 1024px */
  --breakpoint-xl: 1280px; /* 1280px */
  --breakpoint-2xl: 1600px; /* 1600px */
  --breakpoint-3xl: 1920px; /* 1920px */
  --breakpoint-4xl: 2560px; /* 2560px */
}

/* .heading1 {
  @apply text-[#fff] font-semibold xs:text-[44px] sm:text-[50px] md:text-[36px] lg:text-[60px] xl:text-[80px]  2xl:text-[70px] 3xl:text-[100px] 4xl:text-[80px];
} */
